/*
ESPECIFICIDADE NO CSS
ID (CLASSESS, ATRIBUTOS E PSEUDO-CLASSES)    (ELEMENTOS E PSEUDO-ELEMENTOS)
*/

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
}
.pai {
    width: 50rem; /* 500px */
    height: 100vh;
    background: yellow;
}
.pai > div {
    width: 50%;
    height: 50rem;
    background: blue;
}
p {
    font-size: 1.6rem;
}
.color-two {
    background:turquoise;
}
.color-three {
    background: violet;
}